



<form>
    <div class="form-group">
      <label for="nom" class="text text-dark">Nom de la catégorie : </label>
      <input type="text" class="form-control" id="nom" name="nom" aria-describedby="emailHelp" placeholder="Enter le nom"
      [formControl]="nom" />
    </div>
    <div *ngIf="!modeModify" [hidden]="!nom.valid || !nom.pristine" class="alert alert-danger">
        Le nom est obligatoire
    </div>
    <div *ngIf="modeModify" [hidden]="nom.valid" class="alert alert-danger">
        Le nom est obligatoire
    </div>

    
    <div class="form-group shadow-textarea">
      <label for="description" class="text text-dark">Description de la catégorie : </label>
      <textarea class="form-control z-depth-1" rows="3"  id="description" name="description" 
      placeholder="La description sur la catégorie" [formControl]="description"  ></textarea>
    </div>
    <div *ngIf="!modeModify" [hidden]="!description.valid || !description.pristine" class="alert alert-danger">
        La description est obligatoire
    </div>
    <div *ngIf="modeModify" [hidden]="description.valid" class="alert alert-danger">
        La description est obligatoire
    </div>

    <div class="form-group">
        <label for="categorieMere" class="text text-dark">Catégorie mère : </label>
        <select name="categorieMere" id="categorieMere" [formControl]="categorieMere"  class="form-control" >
            <option [ngValue]="categorieEmpty"  class="form-control"></option>
            <option *ngIf="modeModify" [ngValue]="categorie.categorieMere"  class="form-control" selected>{{categorie.categorieMere?.nom}}</option>
            
            <option  *ngFor="let cat of categories" [ngValue]="cat"  class="form-control" >{{cat.nom}}</option>
        </select>
      </div>

    
    <button [disabled]="!nom.valid || !description.valid" type="submit" class="btn class-bg bg-primary" (click)="addCategorie()" *ngIf="!modeModify" >Ajouter une catégorie</button>

    <button [disabled]="!nom.valid || !description.valid" type="submit" class="btn class-bg bg-primary" (click)="editCategorie(idCategorie)" *ngIf="modeModify" >Modifier la catégorie</button>
  </form>


