<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



  <title>MAYAKI</title>

  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="background-color: #1c6c6c;">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center" style="">
          <a class="navbar-brand brand-logo" routerLink="" style="margin-top: 18px;"><img src="../../assets/images/Logo.png" alt="logo" style="height: 60px;" /></a>
          <a class="navbar-brand brand-logo-mini" href="#" ><img src="../../assets/images/Logo.png" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <!-- <span class="mdi mdi-menu"></span> -->
            <i-bs name="menuUp" ></i-bs>
          </button>
          <div class="search-field d-none d-xl-block">
            <form class="d-flex align-items-center h-100" (ngSubmit)="search()" action="#">
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <i-bs  class="input-group-text border-0" name="search" ></i-bs>
                  <!-- <i class="input-group-text border-0 fas fa-search"></i> -->
                </div>
                <input type="text" id="search__input" class="form-control bg-transparent border-0" placeholder="Search products">
              </div>
            </form>
          </div>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="../../../assets/images/faces/face28.jpg" alt="{{adminLogin.email}}" >
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black" style="color: whitesmoke">{{adminLogin.username}}</p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown dropdown-menu-right p-0 border-0 font-size-sm" aria-labelledby="profileDropdown" data-x-placement="bottom-end">
                <div class="p-3 text-center bg-primary">
                  <img class="img-avatar img-avatar48 img-avatar-thumb" src="../../../assets/images/faces/face28.jpg" alt="{{adminLogin.email}}">
                </div>
                <div class="p-2">
                  <h5 class="dropdown-header text-uppercase pl-2 text-dark">Options Utilisateurs</h5>
                  <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" href="#">
                    <span>Profile</span>
                    <span class="p-0">
                      <span class="badge badge-success">1</span>
                      <i-bs name="person" ></i-bs>
                      <!-- <i class="mdi mdi-account-outline ml-1"></i> -->
                    </span>
                  </a>
                 <!--  <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" href="javascript:void(0)">
                    <span>Paramètre</span>
                    <i class="mdi mdi-settings"></i>
                  </a> -->
                  <div role="separator" class="dropdown-divider"></div>
                  <h5 class="dropdown-header text-uppercase  pl-2 text-dark mt-2">Actions</h5>
                  <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" style="cursor: pointer;" (click)="logout()" >
                    <span>Déconnecter</span>
                    <i-bs class="ml-1" name="lock"></i-bs>
                  </a>
                </div>
              </div>
            </li>

          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <!-- <span class="mdi mdi-menu"></span> -->
            <i-bs name="menuUp" ></i-bs>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        <div id="settings-trigger"><i class="mdi mdi-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-default-theme">
            <div class="img-ss rounded-circle bg-dark border mr-3"></div>Default
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-light border mr-3"></div>Light
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles primary"></div>
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default light"></div>
          </div>
        </div>
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html col-lg-12 col-12 p-0 fixed-top d-flex flex-row -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar" style="position: fixed;">
          <ul class="nav">
            <li class="nav-item nav-category">Menu</li>
            <li class="nav-item">
              <a class="nav-link" routerLink="">
                <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>


            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#page-layouts" aria-expanded="false" aria-controls="page-layouts">
                <span class="icon-bg"> <i class="mdi mdi-apps menu-icon"></i> </span>
                <span class="menu-title">Catégories</span>
                <i class="menu-arrow"></i>
                <!-- <i-bs name="chevronDown" ></i-bs> -->
              </a>
              <div class="collapse" id="page-layouts">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" routerLink="admin/categorie/ajouter"> Ajout Catégorie </a></li>
                  <li class="nav-item"> <a class="nav-link" routerLink="admin/categorie/liste"> Liste des catégories </a></li>
                </ul>
              </div>
            </li>
<!--
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#categories" aria-expanded="false" aria-controls="categories">
                <span class="icon-bg"><i class="mdi mdi-shopping menu-icon"></i></span>
                <span class="menu-title">Catégories</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="categories">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" routerLink="admin/categorie/ajouter"> Ajout Catégorie </a></li>
                  <li class="nav-item"> <a class="nav-link" routerLink="admin/categorie/liste"> Liste des catégories </a></li>
                </ul>
              </div>
            </li> -->


            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#sidebar-layouts" aria-expanded="false" aria-controls="sidebar-layouts">
                <span class="icon-bg"><i class="mdi mdi-playlist-play menu-icon"></i></span>
                <span class="menu-title">Produits</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="sidebar-layouts">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" routerLink="admin/produit/ajouter"> Ajout produit </a></li>
                  <li class="nav-item"> <a class="nav-link" routerLink="admin/produit/liste"> Liste des produits </a></li>
                </ul>
              </div>
            </li>

<!--             <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#produits" aria-expanded="false" aria-controls="page-layouts">
                <span class="icon-bg"> <i class="mdi mdi-apps menu-icon"></i> </span>
                <span class="menu-title">Produits</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="produits">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" routerLink="admin/produit/ajouter"> Ajout produit </a></li>
                  <li class="nav-item"> <a class="nav-link" routerLink="admin/produit/liste"> Liste des produits </a></li>
                </ul>
              </div>
            </li> -->

            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                <span class="icon-bg"><i class="mdi mdi-contacts menu-icon"></i></span>
                <span class="menu-title">Fournisseurs</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="icons">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" routerLink="admin/fournisseur/ajouter">Ajout Fournisseur </a></li>
                  <li class="nav-item"> <a class="nav-link" routerLink="admin/fournisseur/liste"> Liste des Fournisseurs </a></li>
                </ul>
              </div>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#fournisseurs" aria-expanded="false" aria-controls="tables">
                <span class="icon-bg"><i class="mdi mdi-table-large menu-icon"></i></span>
                <span class="menu-title">Fournisseurs</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="fournisseurs">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" routerLink="admin/fournisseur/ajouter"> Ajout Fournisseur </a></li>
                  <li class="nav-item"> <a class="nav-link" routerLink="admin/fournisseur/liste"> Liste des Fournisseurs </a></li>
                </ul>
              </div>
            </li> -->

            <li class="nav-item">
              <a class="nav-link" routerLink="admin/commandes" >
                <span class="icon-bg"><i class="mdi mdi-widgets menu-icon"></i></span>
                <span class="menu-title">Liste des Commandes</span>
                <div class="badge badge-danger">{{numberOrderNotDeliver}}</div>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" routerLink="admin/commandes" aria-expanded="false" aria-controls="tables">
                <span class="icon-bg"><i class="mdi mdi-table-large menu-icon"></i></span>
                <span class="menu-title">Liste des Commandes</span>
              </a>
            </li> -->




            <li class="nav-item sidebar-user-actions">
              <div class="user-details">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <div class="d-flex align-items-center">
                      <div class="sidebar-profile-img">
                        <img src="../../../assets/images/faces/face28.jpg" style="height: 40px; width: 40px; border-radius: 20%;" alt="{{adminLogin.email}}">
                      </div>
                      <div class="sidebar-profile-text" >
                        <p class="mb-1" style="margin-top: 10px;">&nbsp; &nbsp; {{adminLogin.username}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <!-- <li class="nav-item sidebar-user-actions">
              <div class="sidebar-user-menu">
                <a href="#" class="nav-link"><i class="mdi mdi-settings menu-icon"></i>
                  <span class="menu-title">Paramètre</span>
                </a>
              </div>
            </li> -->
            <li class="nav-item sidebar-user-actions">
              <div class="sidebar-user-menu">
                <a style="cursor: pointer;" (click)="logout()" class="nav-link"><i-bs class="menu-icon" name="lockFill"></i-bs>
                  <span class="menu-title">Déconnecter</span></a>
              </div>
            </li>
            <li class="nav-item sidebar-user-actions">
              <div class="sidebar-user-menu">
                <a id="go-to-other-page-visiteur-action" href="http://127.0.01:8882" class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
                  <span class="menu-title">Aller sur la page des visiteurs</span></a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel" id="conteneur-router-outlet">
          <div class="content-wrapper">
            <router-outlet></router-outlet>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="footer-inner-wraper">
              <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021 MAYAKI. All rights reserved.</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">madde by Vincent & Renaud<i class="mdi mdi-heart text-danger"></i></span>
              </div>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
    <simple-notifications></simple-notifications>
  </body>

</html>
