


<div class="display-elements">
    <div id="ajout-text">
        <h2 *ngIf="categories.length !== 0" style="color: #0f6674">Liste des catégories</h2>
        <h2 *ngIf="categories.length === 0" style="color: #0f6674">Auncune catégorie enrégistrée</h2>
    </div>
</div>



<div class="contenir-personne"></div>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Catégorie Mère</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cat of categories" >
                <th>{{cat.nom}}</th>
                <td>{{cat.description}}</td>
                <td>{{cat.categorieMere?.nom}}</td>
                <td><i-bs name="trash-fill" style="cursor: pointer;" class="text-danger margin-left" (click)="deletecategorie(cat?.id)" ></i-bs></td>
                <td><i-bs name="pencil-square" style="cursor: pointer;" class="text-primary margin-left" width="1rem" height="2rem" (click)="showPageEdit(cat?.id)" ></i-bs></td>
            </tr>
        </tbody>
    </table>
</div>

