<div>


    <div class="display-elements">
        <div id="ajout-text">
            <h2 *ngIf="fournisseurs.length !== 0" 
                style="color: #0f6674; margin-bottom: 20px; text-align: center; text-decoration: underline; display:inline-block;">
                Les fournisseurs Inscris</h2>
            <h2 *ngIf="fournisseurs.length === 0" 
                style="color: #0f6674; margin-bottom: 20px; text-align: center;  display:inline-block;">
                Aucun fournisseur trouvé</h2>
            
            <div class="form-check form-switch" style="display: inline-block; margin-left: 75px;">
                <input type="radio" class="form-check-input"  id="Tous" name="fournisseur" (click)="tous()" [checked]="checked" />
                <label for="Tous" class="form-check-label"> Tous</label>
            </div>

            <div class="form-check form-switch" style="display: inline-block; margin-left: 75px;">
                <input type="radio" class="form-check-input"  id="Boutique" name="fournisseur" (click)="boutique()" />
                <label for="Boutique" class="form-check-label"> Boutique</label>
            </div>

            <div class="form-check form-switch"style="display: inline-block; margin-left: 75px;">
                <input type="radio" class="form-check-input"  id="Personne" name="fournisseur" (click)="personne()"/>
                <label for="Personne" class="form-check-label"> Personne</label>
            </div>


        </div>
        <br />
    </div>


 <div class="row justify-content-around">
    <div class="card" *ngFor="let fn of fournisseurs; let i=index" >
        <img class="card-img-top" width="75" height="225" src="../../assets/images/mayaki/user_001.jpg" title="{{fn.nom}}" alt="{{fn.nom}}" />
        <div class="card-body">
          <h5 class="card-title">{{fn.nom}}</h5>
          <p class="card-text">{{fn.email}}</p>
          <p class="card-text">{{fn.telephone}}</p>
          <p class="card-text">{{fn.adresse}}</p>

        </div>
        <div class="card-footer">
            <div class="elements-left">
                <small *ngIf="!fn.estPerson" class="text-muted">Une personne</small>
                <small *ngIf="fn.estPerson" class="text-muted">Une boutique</small>
            </div>
            <div class="elements-right">
                <i-bs name="pencil-square" style="cursor: pointer;" class="text-primary margin-left" width="2rem" height="1rem" (click)="showPageEdit(fn?.id)" ></i-bs>
                <i-bs name="pencil-square" style="cursor: pointer;" class="text-primary margin-left" width="2rem" height="1rem" (click)="showPageListProduit(fn?.id)" ></i-bs>
            </div>
        </div>
        <div class="contenir-espace-left"></div>
      </div>

    </div>
</div>
