body{
    background-color: white !important;
}

.espace-element-bottom {
    margin-bottom: 10px;
}

#categorie {
    margin-right: 15px;
}


#title-produit {
    font-weight: bold;
    color: black;
    margin-bottom: 37px;
}

#p-categorie, #title-produit{
    text-align: center;
}

#image-detail {
    width: 100px !important;
    height: 100px !important;
}

